{{if $.Site.Data.config.enableFooter}}
<div class="page-end">
    {{partial "graph.html" .}}
</div>
<div class="page-end">
    <div class="backlinks-container">
        {{partial "backlinks.html" .}}
    </div>

</div>

<script type="text/javascript">

  // drawTree(pathBase, pathWindow);

  /* globals Tree */
  'use strict';

  var treeDoc = new Tree(document.getElementById('tree'), {
    // navigate: true // allow navigate with ArrowUp and ArrowDown
  });
  treeDoc.on('open', e => console.log('open', e));
  treeDoc.on('select', e => console.log('select', e));
  treeDoc.on('action', e => console.log('action', e));
  treeDoc.on('fetch', e => console.log('fetch', e));
  treeDoc.on('browse', e => console.log('browse', e));

  // async function folder () {
  //   const { content } = await fetchData;
  //
  //   // we want to build an array of objects, one for each page and folder (type)
  //   // dataJSON is `contentIndex.json`
  //   const tree = [];
  //
  //   for (let path in content) {
  //     const c = content[path];
  //     const pageTitle = c.title;
  //     const crumb = path.split("/");
  //     // ['', 'folder1','folder2', ... , pageId ]
  //     let pageId = crumb.pop();
  //     if (pageId == '') pageId = '_ROOT_';
  //     let parentFolderId = crumb.slice(-1)[0];
  //     if (parentFolderId == '' && pageId == '_ROOT_') parentFolderId = 'SUPER-ROOT';
  //     if (parentFolderId == '') parentFolderId = 'ROOT';
  //     parentFolderId = '_' + parentFolderId + '_'; // added to distinguished from pageId
  //
  //     // we found a page
  //     tree.push({
  //       id: pageId,
  //       parentId: parentFolderId,
  //       name: pageTitle,
  //       type: 'page',
  //       href: pathBase.slice(0, pathBase.length - 1) + path
  //     })
  //
  //     // if the page is in one or more folders
  //     crumb.forEach((folderId, level) => {
  //       let parentId = crumb[level - 1];
  //       if (parentId == '') {
  //         parentId = '_ROOT_'
  //       } else {
  //         parentId = '_' + parentId + '_';
  //       }
  //
  //       // we found a folder
  //       const push = {
  //         id: '_' + folderId + '_',
  //         parentId: parentId,
  //         name: folderId.replace(/-/g, ' '),
  //         // type: 'folder',
  //         type : Tree.FOLDER,
  //         level: level
  //       }
  //
  //       // avoid duplicates of folders
  //       if (folderId != '' && !tree.some(el => JSON.stringify(el) === JSON.stringify(push)))
  //         tree.push(push);
  //     });
  //   }

    // METHODE 1
    // FYI https://www.jstree.com/docs/json/ doesn't need a hierarchial JSON
    // it needs jQuery though.

    //METHODE 2
    // build the hierarchial JSON
    // from https://typeofnan.dev/an-easy-way-to-build-a-tree-with-object-references/
    // let root;
    //
    // const idMapping = tree.reduce((acc, el, i) => {
    //   acc[el.id] = i;
    //   return acc;
    // }, {});
    //
    // tree.forEach((el) => {
    //   // Handle the root element
    //   if (el.parentId == '_SUPER-ROOT_') {
    //     root = el;
    //     return;
    //   }
    //   // Use our mapping to locate the parent element in our data array
    //   const parentEl = tree[idMapping[el.parentId]];
    //   // Add our current el to its parent's `children` array
    //   parentEl.children = [...(parentEl.children || []), el];
    // });

    // display tree structure
    // from https://www.cssscript.com/folder-tree-json/

    // const structure = root.children
    var structure = [
        {
            "id": "_3-Feelings_",
            "parentId": "_ROOT_",
            "name": "3 Feelings",
            "type": "folder",
            "level": 1,
            "children": [
                {
                    "id": "3-Feelings",
                    "parentId": "_3-Feelings_",
                    "name": "Feeling",
                    "type": "page",
                    "href": "/dhammas/3-Feelings/3-Feelings"
                },
                {
                    "id": "Neutral",
                    "parentId": "_3-Feelings_",
                    "name": "Neutral",
                    "type": "page",
                    "href": "/dhammas/3-Feelings/Neutral"
                },
                {
                    "id": "Painful",
                    "parentId": "_3-Feelings_",
                    "name": "Painful",
                    "type": "page",
                    "href": "/dhammas/3-Feelings/Painful"
                },
                {
                    "id": "Pleasant",
                    "parentId": "_3-Feelings_",
                    "name": "Pleasant",
                    "type": "page",
                    "href": "/dhammas/3-Feelings/Pleasant"
                }
            ]
        },
        {
            "id": "_3-Fold-Refuges-Triple-Gem_",
            "parentId": "_ROOT_",
            "name": "3 Fold Refuges Triple Gem",
            "type": "folder",
            "level": 1,
            "children": [
                {
                    "id": "3-Fold-Refuges",
                    "parentId": "_3-Fold-Refuges-Triple-Gem_",
                    "name": "3-Fold Refuges",
                    "type": "page",
                    "href": "/dhammas/3-Fold-Refuges-Triple-Gem/3-Fold-Refuges"
                },
                {
                    "id": "Buddha",
                    "parentId": "_3-Fold-Refuges-Triple-Gem_",
                    "name": "Buddha",
                    "type": "page",
                    "href": "/dhammas/3-Fold-Refuges-Triple-Gem/Buddha"
                },
                {
                    "id": "Dhamma",
                    "parentId": "_3-Fold-Refuges-Triple-Gem_",
                    "name": "Dhamma",
                    "type": "page",
                    "href": "/dhammas/3-Fold-Refuges-Triple-Gem/Dhamma"
                },
                {
                    "id": "Sangha",
                    "parentId": "_3-Fold-Refuges-Triple-Gem_",
                    "name": "Sangha",
                    "type": "page",
                    "href": "/dhammas/3-Fold-Refuges-Triple-Gem/Sangha"
                }
            ]
        },
        {
            "id": "_3-Kammas_",
            "parentId": "_ROOT_",
            "name": "3 Kammas",
            "type": "folder",
            "level": 1,
            "children": [
                {
                    "id": "3-Kammas",
                    "parentId": "_3-Kammas_",
                    "name": "Kamma",
                    "type": "page",
                    "href": "/dhammas/3-Kammas/3-Kammas"
                },
                {
                    "id": "Body-action",
                    "parentId": "_3-Kammas_",
                    "name": "Body action",
                    "type": "page",
                    "href": "/dhammas/3-Kammas/Body-action"
                },
                {
                    "id": "Mental-action",
                    "parentId": "_3-Kammas_",
                    "name": "Mental action",
                    "type": "page",
                    "href": "/dhammas/3-Kammas/Mental-action"
                },
                {
                    "id": "Verbal-action",
                    "parentId": "_3-Kammas_",
                    "name": "Verbal action",
                    "type": "page",
                    "href": "/dhammas/3-Kammas/Verbal-action"
                }
            ]
        },
        {
            "id": "_3-Merits_",
            "parentId": "_ROOT_",
            "name": "3 Merits",
            "type": "folder",
            "level": 1,
            "children": [
                {
                    "id": "3-Merits",
                    "parentId": "_3-Merits_",
                    "name": "3 Merits",
                    "type": "page",
                    "href": "/dhammas/3-Merits/3-Merits"
                },
                {
                    "id": "Giving",
                    "parentId": "_3-Merits_",
                    "name": "Giving",
                    "type": "page",
                    "href": "/dhammas/3-Merits/Giving"
                },
                {
                    "id": "Mental-Development",
                    "parentId": "_3-Merits_",
                    "name": "Mental Development",
                    "type": "page",
                    "href": "/dhammas/3-Merits/Mental-Development"
                },
                {
                    "id": "Virtue",
                    "parentId": "_3-Merits_",
                    "name": "Virtue",
                    "type": "page",
                    "href": "/dhammas/3-Merits/Virtue"
                }
            ]
        },
        {
            "id": "_4-Noble-Truths_",
            "parentId": "_ROOT_",
            "name": "4 Noble Truths",
            "type": "folder",
            "level": 1,
            "children": [
                {
                    "id": "4-Noble-Truths",
                    "parentId": "_4-Noble-Truths_",
                    "name": "4 Noble Truths",
                    "type": "page",
                    "href": "/dhammas/4-Noble-Truths/4-Noble-Truths"
                },
                {
                    "id": "Cessation",
                    "parentId": "_4-Noble-Truths_",
                    "name": "Cessation of Suffering",
                    "type": "page",
                    "href": "/dhammas/4-Noble-Truths/Cessation"
                },
                {
                    "id": "Origin",
                    "parentId": "_4-Noble-Truths_",
                    "name": "Origin of Suffering",
                    "type": "page",
                    "href": "/dhammas/4-Noble-Truths/Origin"
                },
                {
                    "id": "Suffering",
                    "parentId": "_4-Noble-Truths_",
                    "name": "Suffering",
                    "type": "page",
                    "href": "/dhammas/4-Noble-Truths/Suffering"
                }
            ]
        },
        {
            "id": "_4-Sights_",
            "parentId": "_ROOT_",
            "name": "4 Sights",
            "type": "folder",
            "level": 1,
            "children": [
                {
                    "id": "4-Sights",
                    "parentId": "_4-Sights_",
                    "name": "4 Sights",
                    "type": "page",
                    "href": "/dhammas/4-Sights/4-Sights"
                }
            ]
        },
        {
            "id": "_5-Aggragates_",
            "parentId": "_ROOT_",
            "name": "5 Aggragates",
            "type": "folder",
            "level": 1,
            "children": [
                {
                    "id": "5-Aggragates",
                    "parentId": "_5-Aggragates_",
                    "name": "5 Aggragates",
                    "type": "page",
                    "href": "/dhammas/5-Aggragates/5-Aggragates"
                },
                {
                    "id": "Consciouness",
                    "parentId": "_5-Aggragates_",
                    "name": "Consciouness",
                    "type": "page",
                    "href": "/dhammas/5-Aggragates/Consciouness"
                },
                {
                    "id": "Form",
                    "parentId": "_5-Aggragates_",
                    "name": "Form",
                    "type": "page",
                    "href": "/dhammas/5-Aggragates/Form"
                },
                {
                    "id": "Formations",
                    "parentId": "_5-Aggragates_",
                    "name": "Formations",
                    "type": "page",
                    "href": "/dhammas/5-Aggragates/Formations"
                },
                {
                    "id": "Perception",
                    "parentId": "_5-Aggragates_",
                    "name": "Perception",
                    "type": "page",
                    "href": "/dhammas/5-Aggragates/Perception"
                }
            ]
        },
        {
            "id": "_6-Gradual-Trainings_",
            "parentId": "_ROOT_",
            "name": "6 Gradual Trainings",
            "type": "folder",
            "level": 1,
            "children": [
                {
                    "id": "6-Graduals-Trainings",
                    "parentId": "_6-Gradual-Trainings_",
                    "name": "6 Graduals Trainings",
                    "type": "page",
                    "href": "/dhammas/6-Gradual-Trainings/6-Graduals-Trainings"
                },
                {
                    "id": "Drawbacks",
                    "parentId": "_6-Gradual-Trainings_",
                    "name": "Drawbacks",
                    "type": "page",
                    "href": "/dhammas/6-Gradual-Trainings/Drawbacks"
                },
                {
                    "id": "Generosity",
                    "parentId": "_6-Gradual-Trainings_",
                    "name": "Generosity",
                    "type": "page",
                    "href": "/dhammas/6-Gradual-Trainings/Generosity"
                },
                {
                    "id": "Heaven",
                    "parentId": "_6-Gradual-Trainings_",
                    "name": "Heaven",
                    "type": "page",
                    "href": "/dhammas/6-Gradual-Trainings/Heaven"
                },
                {
                    "id": "Renunciation",
                    "parentId": "_6-Gradual-Trainings_",
                    "name": "Renunciation",
                    "type": "page",
                    "href": "/dhammas/6-Gradual-Trainings/Renunciation"
                },
                {
                    "id": "Virtue",
                    "parentId": "_6-Gradual-Trainings_",
                    "name": "Virtue",
                    "type": "page",
                    "href": "/dhammas/6-Gradual-Trainings/Virtue"
                }
            ]
        },
        {
            "id": "_8-Fold-Path_",
            "parentId": "_ROOT_",
            "name": "8 Fold Path",
            "type": "folder",
            "level": 1,
            "children": [
                {
                    "id": "_2-Right-View_",
                    "parentId": "_8-Fold-Path_",
                    "name": "2 Right View",
                    "type": "folder",
                    "level": 2,
                    "children": [
                        {
                            "id": "view",
                            "parentId": "_2-Right-View_",
                            "name": "view",
                            "type": "page",
                            "href": "/dhammas/8-Fold-Path/2-Right-View/view"
                        }
                    ]
                },
                {
                    "id": "_2-Right-actions_",
                    "parentId": "_8-Fold-Path_",
                    "name": "2 Right actions",
                    "type": "folder",
                    "level": 2,
                    "children": [
                        {
                            "id": "_2-Actions_",
                            "parentId": "_2-Right-actions_",
                            "name": "2 Actions",
                            "type": "folder",
                            "level": 3,
                            "children": [
                                {
                                    "id": "actions",
                                    "parentId": "_2-Actions_",
                                    "name": "actions",
                                    "type": "page",
                                    "href": "/dhammas/8-Fold-Path/2-Right-actions/2-Actions/actions"
                                }
                            ]
                        },
                        {
                            "id": "empty",
                            "parentId": "_2-Right-actions_",
                            "name": "empty",
                            "type": "page",
                            "href": "/dhammas/8-Fold-Path/2-Right-actions/empty"
                        }
                    ]
                },
                {
                    "id": "8-Fold-Path",
                    "parentId": "_8-Fold-Path_",
                    "name": "8-Fold Noble Path",
                    "type": "page",
                    "href": "/dhammas/8-Fold-Path/8-Fold-Path"
                },
                {
                    "id": "Right-Action",
                    "parentId": "_8-Fold-Path_",
                    "name": "Right Action",
                    "type": "page",
                    "href": "/dhammas/8-Fold-Path/Right-Action"
                },
                {
                    "id": "Right-Concentration",
                    "parentId": "_8-Fold-Path_",
                    "name": "Right Concentration",
                    "type": "page",
                    "href": "/dhammas/8-Fold-Path/Right-Concentration"
                },
                {
                    "id": "Right-Effort",
                    "parentId": "_8-Fold-Path_",
                    "name": "Right Effort",
                    "type": "page",
                    "href": "/dhammas/8-Fold-Path/Right-Effort"
                },
                {
                    "id": "Right-Intention",
                    "parentId": "_8-Fold-Path_",
                    "name": "Right Intention",
                    "type": "page",
                    "href": "/dhammas/8-Fold-Path/Right-Intention"
                },
                {
                    "id": "Right-Livelyhood",
                    "parentId": "_8-Fold-Path_",
                    "name": "Right Livelyhood",
                    "type": "page",
                    "href": "/dhammas/8-Fold-Path/Right-Livelyhood"
                },
                {
                    "id": "Right-Mindfulness",
                    "parentId": "_8-Fold-Path_",
                    "name": "Right Mindfulness",
                    "type": "page",
                    "href": "/dhammas/8-Fold-Path/Right-Mindfulness"
                },
                {
                    "id": "Right-Speech",
                    "parentId": "_8-Fold-Path_",
                    "name": "Right Speech",
                    "type": "page",
                    "href": "/dhammas/8-Fold-Path/Right-Speech"
                },
                {
                    "id": "Right-View",
                    "parentId": "_8-Fold-Path_",
                    "name": "Right View",
                    "type": "page",
                    "href": "/dhammas/8-Fold-Path/Right-View"
                }
            ]
        },
        {
            "id": "Untitled",
            "parentId": "_ROOT_",
            "name": "Untitled",
            "type": "page",
            "href": "/dhammas/Untitled"
        },
        {
            "id": "sources",
            "parentId": "_ROOT_",
            "name": "Sources",
            "type": "page",
            "href": "/dhammas/sources"
        },
        {
            "id": "test",
            "parentId": "_ROOT_",
            "name": "test",
            "type": "page",
            "href": "/dhammas/test"
        }
    ];
    treeDoc.on('created', (e, node) => {
      e.node = node;
    });
    treeDoc.json(structure);
    console.log(structure)

    // treeDoc.file({
    //   name: 'file 2/1'
    // }, folder);
    // treeDoc.folder({
    //   name: 'file 2/2'
    // }, folder);

    // folder.resolve();


  // click on node go to page
  treeDoc.on('select', e => {
    if (e.getAttribute('href')) window.location.assign(e.getAttribute('href'))
  });

  // open tree at current node
  const crumb = pathWindow.split("/");
  const crumbNoBase = crumb.splice(2,crumb.length-3)

  // the function below is an infinit loop !!!
  // treeDoc.browse(a => {
  //   // array.includes() doesn't work in this loop !
  //   console.log("a",a)
  //   let test = false
  //   crumbNoBase.forEach(d => {
  //     console.log(test);
  //
  //     if (d == a.innerHTML.replace(/ /g,'-'))  test = true;
  //   })
  //   console.log(test);
  //   return test
  // });

  console.log(crumbNoBase)

  document.getElementById('browse').addEventListener('click', () => {
    treeDoc.browse(a => {
      if (a.node.name.replace(/ /g,'-') === crumbNoBase[0]) {
        return true;
      }
      // return false;
    });
  });

  // document.getElementById('browse').addEventListener('click', () => {
  //   treeDoc.browse(a => {
  //     if(crumbNoBase.indexOf(a.node.name.replace(/ /g,'-')) !== -1) {
  //       return true;
  //     }
  //     return false
  //   });
  // });

  treeDoc.on('select', e => {
    if (e.tagName === 'SUMMARY') {
      treeDoc.open(e.parentElement);
    }
  });


</script>
{{end}}
