<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
  {{partial "search.html" .}}
  <!-- Start layout -->
  <r-c join>
      <main data-lg1-2 data-lg2 data-m2 data-sm1 data-xs1 class="singlePage">
        <header>
          <h1>{{if .Title}}{{ .Title }}{{else}}Untitled{{end}}</h1>
          <svg tabindex="0" id="search-icon" aria-labelledby="title desc" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.9 19.7"><title id="title">Search Icon</title><desc id="desc">Icon to open search</desc><g class="search-path" fill="none"><path stroke-linecap="square" d="M18.5 18.3l-5.4-5.4"/><circle cx="8" cy="8" r="7"/></g></svg>
          <div class="spacer"></div>
          {{partial "darkmode.html" .}}
        </header>
        <article>
          {{partial "toc.html" .}}
          {{partial "textprocessing.html" . }}
          {{if $.Site.Data.config.enableRecentNotes}}
            {{partial "recent.html" . }}
          {{end}}
        </article>
      </main>
      <aside data-sm1-2 data-md1-2 data-lg1-4 data-lg1 data-m1 data-sm2 data-xs3>
        <div class="sticky page-end">
          <h3> Menu </h3>
          <div id="tree"></div>
          <!-- <div>
            <input type="button" id="browse-1" value="Browse folder 2 -> file 2">
            <input type="button" id="browse-2" value="Browse folder 1 -> folder 1/1 -> folder 1/1/1 -> folder 1/1/1/1 -> filde 1/1/1/1/2">
            <input type="button" id="unload" value="Unload active folder">
            <input type="button" id="previous" value="Select previous">
            <input type="button" id="next" value="Select next">
          </div>
          <div id="tree"></div> -->
        </div>
      </aside>
      <aside data-sm1-2 data-md1-2 data-lg1-4 data-lg3 data-m3 data-sm3 data-xs2>
        <div class="sticky">
          <div class="page-end">
            <button class="popup" onclick="myFunction()">Global Graph
              <div class="popuptext" id="myPopup">
                <div id="graph-container-popup"></div>
              </div>
            </button>
          </div>

          {{partial "footer.html" .}}
        </div>
      </aside>
  </r-c>
  <footer data-r-c data-join >
      <c1-1>
        {{partial "contact.html" .}}
      </c1-1>
  </footer>
</body>

</html>
